.form {
    margin: 20px;
  }
  
  .form input, textarea{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }

  .form button {
    background-color: white;
    color:#000080;
    font-weight: bold;
  }
  